<div class="Detail-block-title">
  <p>
    <fa-icon [icon]="archiveIcon"></fa-icon> Product Detail:
  </p>
</div>


<div class="category-parent">
  <div class="category-child" *ngFor="let category of catTitle">
    <p class="category-title">
      <fa-icon [icon]="catIcon"></fa-icon> {{category.name}}
    </p>
  </div>
</div>


<div class='parent'>
  <div *ngFor="let movie of DefaultDetailList" class="child">
    <a class="movieTitle" [routerLink]="['']">
      <fa-icon [icon]="movieIcon"></fa-icon> {{movie.name}}
    </a>
    <p class="moviePrice">
      <fa-icon [icon]="moneyIcon"></fa-icon> Price: {{movie.price}} Kr
    </p>
    <img [src]="movie.imageUrl" alt="poster" class="movieImage" />
    <p class="movieDescription">
      <fa-icon [icon]="descIcon"></fa-icon> Movie Discription:
    </p>
    <p class="movieDesc">{{movie.description}}</p>

    <button type="button" class='btn btn-warning addToCart-btn' (click)="sendItemToCart(movie)">
      <fa-icon [icon]="cartIcon"></fa-icon> Add To Cart
    </button>
  </div>
</div>
