.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.child {
  display: flex;
  width: 25%;
  margin: 20px 5px;
  padding: 5px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  border: 3px solid #ff015b;
  background-color: #2d0031;
}

.movieTitle {
  font-size: 16px;
  font-weight: bold;
  color: rgb(255, 251, 0);
  padding: 1px 30px;
  text-decoration: underline;
}

.movieTitle:hover {
  text-decoration: none;
  transform: scale(1.3);
  background-color: rgb(255, 255, 255);
  color: black;
}

.moviePrice {
  color: rgb(253, 253, 253);
  padding: 1px 30px;
  font-size: 20px;
  font-weight: bolder;
}

.movieImage {
  max-width: 250px;
  max-height: 380px;
  width: 100%;
  border-radius: 8px;
  border: 8px solid lavender;
  filter: saturate(2);
}

.movieDescription {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 8px;
  margin-top: 20px;
  margin-bottom: 5px;
  align-self: flex-start;
  color: rgb(255, 255, 255);
}

.movieDesc {
  font-size: 11px;
  margin: 0px 8px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
}

.btn-warning {
  margin-top: auto;
  margin-bottom: 5px;
  padding: 11px;
  width: 150px;
  align-items: stretch;
  border-radius: 25px;
  outline: none;
  font-weight: bold;
}

.category-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-child {
  margin: 5px;
  padding: 5px;
}

.category-title {
  width: 150px;
  margin: 20px 5px;
  padding: 11px;
  border-radius: 25px;
  outline: none;
  font-weight: bold;
  background-color: #17a2b8;
  text-align: center;
}

.Detail-block-title {
  display: flex;
  width: 100%;
  margin: 20px 5px;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  color: rgb(235, 255, 0);
}

.Error-block-title {
  display: flex;
  width: 100%;
  margin: 20px 5px;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 0, 106);
}