<div class="Detail-block-title">
  <p>
    <fa-icon [icon]="archiveIcon"></fa-icon> Product Detail:
  </p>
</div>

<div class="category-parent">
  <div class="category-child" *ngFor="let category of catTitle">
    <p class="category-title">
      <fa-icon [icon]="catIcon"></fa-icon> {{category.name}}
    </p>
  </div>
</div>

<ng-container *ngIf="doesProductIdExists; then productExists; else productDoesntExists">
</ng-container>

<ng-template #productExists>
  <div class='parent'>
    <div *ngFor="let movie of DefaultDetailList" class="child">
      <a class="movieTitle" [routerLink]="['']">
        <fa-icon [icon]="movieIcon"></fa-icon> {{movie.name}}
      </a>
      <p class="moviePrice">
        <fa-icon [icon]="moneyIcon"></fa-icon> Price: {{movie.price}} Kr
      </p>
      <img [src]="movie.imageUrl" alt="poster" class="movieImage" />
      <p class="movieDescription">
        <fa-icon [icon]="descIcon"></fa-icon> Movie Discription:
      </p>
      <p class="movieDesc">{{movie.description}}</p>

      <button type="button" class='btn btn-warning addToCart-btn' (click)="sendItemToCart(movie)">
        <fa-icon [icon]="cartIcon"></fa-icon> Add To Cart
      </button>
    </div>
  </div>
</ng-template>

<ng-template #productDoesntExists>
  <div class="Error-block-title">
    <p>A product with an ID number: {{id}} - doesn't exist in our database.</p>
  </div>
</ng-template>