<div class="ShowCartBlock">
  <div class="ShowCartBlock-child" *ngFor="let item of defaultShowCart">
    <span class="ShowCartBlock-info">Title: {{item.name}} - Price: <span class="span-price">{{item.price}} Kr</span>
    </span>
    <button type="button" class="btn btn-danger cartremove-btn" (click)="removeItem(item.id)">
      <fa-icon [icon]="removeIcon"></fa-icon> Remove
    </button>
  </div>

  <div class="ShowCartBlock-total">
    <p class="cart-totalprice">
      <fa-icon [icon]="cartIcon"></fa-icon> Cart - <fa-icon [icon]="dollarIcon"></fa-icon> Total Price: <span
        class="span-totalprice">{{totalPrice}} Kr</span>
    </p>

    <p class="availablePayment">
      <fa-icon [icon]="statusIcon"></fa-icon> We support the following payment methods:
    </p>
    <p class="cart-paymentMethod">
      <fa-icon [icon]="statusIcon"></fa-icon> VisaCard, MasterCard & PayPal.
    </p>


    <p class="details">
      <fa-icon [icon]="statusIcon"></fa-icon> Fill out the fields below to complete your order:
    </p>
  </div>
</div>
