.ShowCartBlock {
  background-color: rebeccapurple;
  min-height: 100vh;
}

.ShowCartBlock-child {
  background-color: rebeccapurple;
  padding-top: 12px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(235, 235, 235);
  display: flex;
}

.ShowCartBlock-info {
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 20px;
  margin-left: 13px;
  font-size: 22px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.cartremove-btn {
  width: 160px;
  margin: 5px;
  padding: 3px;
  outline: none;
  font-weight: bold;
  margin-left: auto;
  margin-right: 50px;
}

.ShowCartBlock-total {
  background-color: rgba(20, 20, 20, 0.651);
  border-top: 5px solid #ff015b;
  border-bottom: 5px solid #ff015b;
  margin-bottom: 20px;
  font-size: 18px;
}

.availablePayment {
  margin-top: 30px;
  margin-left: 13px;
  font-size: 18px;
}

.span-totalprice {
  color: greenyellow;
}

.span-price {
  color: gold;
}

.details {
  margin-left: 13px;
  font-size: 18px;
  color: darkorange;
}

.cart-totalprice {
  padding-top: 15px;
  margin-left: 13px;
  font-size: 18px;
  font-weight: bold;
}

.btn-success {
  margin: 5px;
}

.cart-paymentMethod {
  color: rgb(255, 217, 0);
  font-weight: bold;
  margin-left: 13px;
}

.form-parent {
  display: flex;
  flex-wrap: wrap;
}

.form-child {
  display: flex;
  margin: 5px 5px;
  padding: 5px;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
}

.form-label-email {
  margin: 5px;
  font-size: 22px;
}

.form-input-email {
  margin: 5px;
  width: 250px;
  height: 40px;
  color: black;
}

.form-select {
  margin: 5px;
  width: 250px;
  height: 40px;
}

.checkout-btn {
  width: 370px;
  margin-top: 30px;
  margin-left: 20px;
  padding: 11px;
  outline: none;
  font-weight: bold;
  font-size: 22px;
}

.p-info{
  color: #ff015b;
  margin-top: 10px;
  font-size: 13px;
}