<div>
  <nav>
    <ul class="AppList">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <fa-icon [icon]="filmIcon"></fa-icon>
          Movie webshop
        </a></li>
      <li class="cartLink"><a routerLink="/cart" routerLinkActive="active">
          <fa-icon [icon]="cartIcon"></fa-icon> Cart ({{cLength}})
        </a></li>
      <li class="adminLink"><a routerLink="/admin" routerLinkActive="active">
          <fa-icon [icon]="cogsIcon"></fa-icon> Admin
        </a></li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
